@import "tailwindcss";

@layer components {
  .nav_link {
    @apply relative text-base font-medium w-fit block text-white;
  }

  .nav_link::after {
    content: "";
    @apply block absolute h-[3px] w-full bg-yellow-400 scale-x-0 transition duration-300 origin-right;
  }

  .nav_link:hover::after {
    @apply scale-x-100;
  }
  .text-bg{
    background-image: linear-gradient(to right, #875087 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
